In [1]:
%load_ext autoreload
%autoreload 1

import logging
import pickle
import sqlite3
import sys

import numpy as np
import pandas as pd

sys.path.append('..')
import loteca.data.interim.matches as matches
%aimport loteca.data.interim.matches

logger = logging.getLogger()
logger.setLevel(logging.INFO)
logging.basicConfig(level=logging.INFO)

In [2]:
# load loteca
loteca = pd.read_pickle('../data/pre/lotecas_matches.pkl')
loteca = loteca[loteca.roundno >= 366]  # exclude old rounds

# load betexplorer
conn = sqlite3.connect('../data/raw/betexplorer.sqlite3')
betexp = pd.read_sql_query('SELECT id, league_category, date, teamH, teamA, score, scoremod FROM matches', conn)
conn.close()

betexp.date = pd.to_datetime(betexp.date, dayfirst=True)
betexp.score = betexp.score.str.strip()
betexp['goalsH'] = [int(score.split(':')[0]) if score else np.nan for score in betexp.score]
betexp['goalsA'] = [int(score.split(':')[1]) if score else np.nan for score in betexp.score]

# load dict
with open('../data/interim/teams_ltb.pkl', mode='rb') as fp:
    teamsd = pickle.load(fp)

In [3]:
loteca0 = loteca[~loteca.happened]  # TODO

In [4]:
# the ones we are sure

loteca1 = loteca[loteca.happened]
results1 = matches.generate_matches_dict(loteca1, betexp, teamsd, logger=logger,
                                             
                                         flexible_date=True,
                                         min_team_rigid_points=2, 
                                         min_team_flex_points=2,
                                         ignore_score=False, 
                                         ignore_score_if_mod=False,
                                         return_teams=False)

len(results1)

INFO:root:creating dataframe cache
INFO:root:on match 1/5856
INFO:root:on match 501/5856
INFO:root:on match 1001/5856
INFO:root:on match 1501/5856
INFO:root:on match 2001/5856
INFO:root:on match 2501/5856
INFO:root:on match 3001/5856
INFO:root:on match 3501/5856
INFO:root:on match 4001/5856
INFO:root:on match 4501/5856
INFO:root:on match 5001/5856
INFO:root:on match 5501/5856

3764

In [32]:
# discover new teams

loteca2 = loteca1[~loteca1.index.isin(results1)]

results2, newteams2 = matches.generate_matches_dict(loteca2, betexp, teamsd, logger=logger,                                         
                                         flexible_date=True,
                                         min_team_rigid_points=1, 
                                         min_team_flex_points=2,
                                         ignore_score=False, 
                                         ignore_score_if_mod=False,
                                         return_teams=True)
    
print(len(results2), len(newteams2))

INFO:root:creating dataframe cache
INFO:root:on match 1/2092
INFO:root:on match 501/2092
INFO:root:on match 1001/2092
INFO:root:on match 1501/2092
INFO:root:on match 2001/2092

1006 0

In [37]:
# update dict

teamsd3 = teamsd.copy()
for k, v in newteams2.items():
    teamsd3[k] |= v 


# discover new teams (more flexble)

loteca3 = loteca2[~loteca2.index.isin(results2)]

results3, teams3 = matches.generate_matches_dict(loteca3, betexp, teamsd3, logger=logger,                                         
                                         flexible_date=True,
                                         min_team_rigid_points=1,
                                         min_team_flex_points=1,
                                         ignore_score=False, 
                                         ignore_score_if_mod=False,
                                         return_teams=True)
    
print(len(results3), len(teams3))

INFO:root:creating dataframe cache
INFO:root:on match 1/1086
INFO:root:on match 501/1086
INFO:root:on match 1001/1086

82 18

In [43]:
betexp[betexp.id.isin(results3.values())][betexp.teamA == 'Guarany']
loteca.loc[7665]

# http://www.betexplorer.com/soccer/brazil/campeonato-cearense-2013/crato-guarany/zcDegFVh/
# http://www.betexplorer.com/soccer/brazil/campeonato-cearense-2013/crato-horizonte/4hgz5CU4/

/home/andre/anaconda3/envs/loteca/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,id,league_category,date,teamH,teamA,score,scoremod,goalsH,goalsA
49723,zcDegFVh,brazil,2013-02-03,Crato,Guarany,2:2,,2.0,2.0

In [46]:
loteca[loteca.roundno == 548]

# look at the dates here...
# it's not right

# lookin in loteca, everything is in march!

# oh man, the timestamps match
# that means they used the raw date string to generate the timestamp

# and they did it mixing the day and month...

,roundno,gameno,date,teamH,goalsH,teamA,goalsA,happened
7658,548,1,2013-02-03,FLAMENGO/RJ,0,BOTAFOGO/RJ,2,True
7659,548,2,2013-02-02,VASCO DA GAMA/RJ,3,FLUMINENSE/RJ,2,True
7660,548,3,2013-02-03,PARANÁ/PR,2,PARANAVAÍ/PR,1,True
7661,548,4,2013-02-02,BRAGANTINO/SP,1,SOROCABA/SP,2,True
7662,548,5,2013-02-03,METROPOLITANO/SC,2,CRICIÚMA/SC,1,True
7663,548,6,2013-03-03,GUARANI/SP,0,MOGI MIRIM/SP,2,True
7664,548,7,2013-02-03,SANTA CRUZ/PE,0,SALGUEIRO/PE,1,True
7665,548,8,2013-02-02,CRATO/CE,2,HORIZONTE/CE,2,True
7666,548,9,2013-02-03,CENTRAL/PE,0,SPORT/PE,1,True
7667,548,10,2013-02-02,SÃO MATEUS/ES,4,VITÓRIA/ES,1,True
7668,548,11,2013-02-03,ATLÉTICO/GO,3,CRAC/GO,0,True
7669,548,12,2013-02-03,VILLA NOVA/MG,3,BOA ESPORTE/MG,1,True
7670,548,13,2013-02-03,LONDRINA/PR,0,CORITIBA/PR,1,True
7671,548,14,2013-02-03,SANTOS/SP,0,CORINTHIANS/SP,0,True

In [38]:
teams3

# 'HORIZONTE/CE': {'Guarany'},
# 'IPATINGA/MG': {'Betim'},
# 'ITUIUTABA/MG': {'Boa'},

defaultdict(set,
            {'ATHLETIC BILBAO/ESP': {'Ath Bilbao'},
             'ATLÉTICO/BA': {'Alagoinhas'},
             'BOCA JÚNIOR/SE': {'Boca Junior'},
             'CAMBURIÚ/SC': {'Camboriu'},
             'COLÔNIA/DEU': {'FC Koln'},
             'DEPORTI LA CORUNA/ESP': {'Dep. La Coruna'},
             'DEPORTIVO LA CORUÑA/ESP': {'Dep. La Coruna'},
             'ESPORTIVO/RS': {'Bento Goncalves'},
             'GRÊMIO PRUDENTE/SP': {'Barueri'},
             'HERTHA BERLIM/DEU': {'Hertha Berlin'},
             'HORIZONTE/CE': {'Guarany'},
             'IPATINGA/MG': {'Betim'},
             'ITUIUTABA/MG': {'Boa'},
             'MOTO CLUBE/MA': {'Moto Club'},
             'NEW CASTLE/ING': {'Newcastle'},
             'OLYMPIQUE LYONNAIS/FRA': {'Lyon'},
             'VILA NOVA/MG': {'Villa Nova MG'},
             'WEST BROMWICH/ING': {'West Brom'}})

In [31]:
# discover new teams

loteca4 = loteca3[~loteca3.index.isin(results3)]

results4, newteams4 = matches.generate_matches_dict(loteca4, betexp, teamsd3, logger=logger,                                         
                                         flexible_date=True,
                                         min_team_rigid_points=1, 
                                         min_team_flex_points=2,
                                         ignore_score=False, 
                                         ignore_score_if_mod=False,
                                         return_teams=True)
    
print(len(results4), len(newteams4))

INFO:root:creating dataframe cache
INFO:root:on match 1/1086
INFO:root:on match 501/1086
INFO:root:on match 1001/1086

0 0

In [21]:
newteams2

defaultdict(set,
            {'AMERICANO/RJ': {'Americano FC'},
             'BOA ESPORTE CLUBE/MG': {'Boa'},
             'BOA ESPORTE/MG': {'Boa'},
             'BOLOGNA FC/ITA': {'Bologna'},
             'BORUSSIA DORTMUND/DEU': {'Dortmund'},
             'BRAGANTINO/SP': {'Bragantino'},
             'BRASIL/RS': {'Brasil de Pelotas'},
             'CAGLIARI CALCIO/ITA': {'Cagliari'},
             'CAXIAS/RS': {'SER Caxias'},
             'CELTA DE VIGO/ESP': {'Celta Vigo'},
             'CENTRAL/PE': {'Central SC'},
             'COLO COLO/BA': {'Colo C.'},
             'CUIABÁ/MT': {'Cuiaba Esporte'},
             'ESTANCIANO/SE': {'Estanciano EC'},
             'FC BARCELONA/ESP': {'Barcelona'},
             'FERNANDÓPOLIS/SP SUB 20': {'Fernandopolis U20'},
             'FLUMINENSE/BA': {'Fluminense de Feira'},
             'FORMOSA/GO': {'Bosque Formosa'},
             'GRÊMIO BARUERI/SP': {'Barueri'},
             'GUARANI/CE': {'Guarani de Juazeiro'},
             'GUARANI/MG': {'Guarani EC'},
             'GUARANI/SC': {'Guarani de Palhoca'},
             'INTER DE MILÃO/ITA': {'Inter'},
             'JUVENTUS FC/ITA': {'Juventus'},
             'JUVENTUS/SC': {'Gremio Juventus'},
             'MILAN/ITA': {'AC Milan'},
             'MONCHENGLADBACH/DEU': {'B. Monchengladbach'},
             'OLYMPIQUE DE NICE/FRA': {'Nice'},
             'PALMEIRA/RN': {'Palmeira de Una'},
             'PARIS SAINT-GERMAIN/FRA': {'Paris SG'},
             'PORTO/PE': {'CA Porto'},
             'PORTUGUESA DESPORTOS/SP': {'Portuguesa'},
             'RIO BRANCO/AC': {'Rio Branco'},
             'RIO BRANCO/AC SUB 20': {'Rio Branco AC U20'},
             'RIO BRANCO/ES': {'Rio Branco ES'},
             'ROMA/ITA': {'AS Roma'},
             'SAINT-ÉTIENNE/FRA': {'St Etienne'},
             'SANTA CRUZ/RN': {'Santa Cruz de Natal'},
             'SCHALKE 04/DEU': {'Schalke'},
             'SOCIETA SPO LAZIO/ITA': {'Lazio'},
             'SOROCABA/SP': {'Atl. Sorocaba'},
             'SPORT/PE': {'Sport Recife'},
             'STOKE CITY/ING': {'Stoke'},
             'SÃO  CAETANO/SP': {'Sao Caetano'},
             'SÃO JOSÉ (PA) /RS': {'EC Sao Jose'},
             'SÃO JOSÉ/RS': {'EC Sao Jose'},
             'TIGRES DO BRASIL/RJ': {'Tigres Brasil'},
             'VASCO DA GAMA/RJ': {'Vasco'},
             'VASCO/RJ': {'Vasco'},
             'VILA NOVA/GO': {'Vila Nova FC'},
             'VITORIA/PE': {'Academica Vitoria'},
             'XV PIRACICABA/SP': {'Piracicaba'},
             'YPIRANGA/RS': {'Ypiranga FC'},
             'ÁGUIA/PA': {'Aguia De Maraba'}})

In [12]:
loteca[loteca.index.isin(results2.keys())]

,roundno,gameno,date,teamH,goalsH,teamA,goalsA,happened
5114,366,5,2009-06-06,PONTE PRETA/SP,5,PORTUGUESA DESPORTOS/SP,2,True
5116,366,7,2009-06-06,VASCO DA GAMA/RJ,0,SÃO CAETANO/SP,0,True
5122,366,13,2009-06-07,SPORT/PE,4,FLAMENGO/RJ,2,True
5127,367,4,2009-06-13,GUARANI/SP,0,VASCO DA GAMA/RJ,0,True
5130,367,7,2009-06-13,A B C/RN,1,VILA NOVA/GO,0,True
5133,367,10,2009-06-13,SPORT/PE,0,ATLÉTICO/PR,1,True
5142,368,5,2009-06-20,VILA NOVA/GO,2,ATLÉTICO/GO,3,True
5145,368,8,2009-06-20,SANTO ANDRÉ/SP,2,SPORT/PE,1,True
5154,369,3,2009-06-27,FIGUEIRENSE/SC,1,VASCO DA GAMA/RJ,1,True
5164,369,13,2009-06-28,SPORT/PE,3,GRÊMIO/RS,1,True
5173,370,8,2009-07-04,SÃO CAETANO/SP,2,ATLÉTICO/GO,2,True
5183,371,4,2009-07-11,VASCO DA GAMA/RJ,3,PONTE PRETA/SP,0,True
5188,371,9,2009-07-11,BRAGANTINO/SP,2,VILA NOVA/GO,1,True
5191,371,12,2009-07-12,SPORT/PE,1,GOIÁS/GO,0,True
5201,372,8,2009-07-18,SÃO CAETANO/SP,4,DUQUE DE CAXIAS/RJ,0,True
5202,372,9,2009-07-18,BRAGANTINO/SP,1,PONTE PRETA/SP,1,True
5204,372,11,2009-07-19,SPORT/PE,1,AVAÍ/SC,3,True
5212,373,5,2009-07-25,BAHIA/BA,2,VASCO DA GAMA/RJ,1,True
5213,373,6,2009-07-25,PORTUGUESA DESPORTOS/SP,2,AMÉRICA/RN,1,True
5220,373,13,2009-07-26,SPORT/PE,3,NÁUTICO/PE,3,True
5222,374,1,2009-08-01,SPORT/PE,0,PALMEIRAS/SP,1,True
5226,374,5,2009-08-01,JUVENTUDE/RS,1,VASCO DA GAMA/RJ,2,True
5243,375,8,2009-08-08,VILA NOVA/GO,1,BAHIA/BA,0,True
5254,376,5,2009-08-15,PORTUGUESA DESPORTOS/SP,1,VASCO DA GAMA/RJ,3,True
5255,376,6,2009-08-15,SÃO CAETANO/SP,2,FORTALEZA/CE,0,True
5262,376,13,2009-08-16,SPORT/PE,1,SÃO PAULO/SP,2,True
5268,377,5,2009-08-22,VILA NOVA/GO,0,BRASILIENSE/DF,0,True
5274,377,11,2009-08-22,SPORT/PE,2,VITÓRIA/BA,0,True
5281,378,4,2009-08-29,BRAGANTINO/SP,2,ATLÉTICO/GO,2,True
5294,379,3,2009-09-05,SPORT/PE,2,BOTAFOGO/RJ,1,True
...,...,...,...,...,...,...,...,...
10924,781,5,2018-01-06,FERNANDÓPOLIS/SP SUB 20,2,GUARANI/SP SUB 20,4,True
10925,781,6,2018-01-06,TUPÃ/SP SUB 20,0,XV DE JAÚ/SP SUB 20,1,True
10930,781,11,2018-01-06,CAGLIARI CALCIO/ITA,0,JUVENTUS FC/ITA,1,True
10932,781,13,2018-01-07,CELTA DE VIGO/ESP,2,REAL MADRID/ESP,2,True
10935,782,2,2018-01-14,REAL SOCIEDAD/ESP,2,FC BARCELONA/ESP,4,True
10936,782,3,2018-01-14,NANTES/FRA,0,PARIS SAINT-GERMAIN/FRA,1,True
10940,782,7,2018-01-14,SAINT-ÉTIENNE/FRA,2,TOULOUSE/FRA,0,True
10943,782,10,2018-01-13,RB LEIPZIG/DEU,3,SCHALKE 04/DEU,1,True
10944,782,11,2018-01-14,BORUSSIA DORTMUND/DEU,0,WOLFSBURG/DEU,0,True
10945,782,12,2018-01-13,OLYMPIQUE DE NICE/FRA,1,AMIENS/FRA,0,True
10950,783,3,2018-01-20,GRÊMIO/RS,3,CAXIAS/RS,5,True
10951,783,4,2018-01-21,GOIÁS/GO,0,VILA NOVA/GO,1,True
10952,783,5,2018-01-21,SÃO CAETANO/SP,0,CORINTHIANS/SP,4,True
10954,783,7,2018-01-21,VASCO DA GAMA/RJ,4,NOVA IGUAÇU/RJ,2,True
10958,783,11,2018-01-21,INTER DE MILÃO/ITA,1,ROMA/ITA,1,True
10959,783,12,2018-01-21,LYON/FRA,2,PARIS SAINT-GERMAIN/FRA,1,True
10961,783,14,2018-01-21,REAL SOCIEDAD/ESP,1,CELTA DE VIGO/ESP,2,True
10962,784,1,2018-01-27,FLAMENGO/RJ,0,VASCO DA GAMA/RJ,0,True
10965,784,4,2018-01-28,VILA NOVA/GO,2,ATLÉTICO/GO,1,True
10970,784,9,2018-01-28,BRAGANTINO/SP,0,PALMEIRAS/SP,2,True
10974,784,13,2018-01-28,MILAN/ITA,2,LAZIO/ITA,1,True
10975,784,14,2018-01-28,ROMA/ITA,0,SAMPDORIA/ITA,1,True
10980,785,5,2018-02-04,VILA NOVA/GO,1,GOIÁS/GO,1,True
10982,785,7,2018-02-04,VASCO DA GAMA/RJ,3,VOLTA REDONDA/RJ,1,True
10985,785,10,2018-02-04,BRASIL/RS,1,INTERNACIONAL/RS,0,True
10994,786,5,2018-02-10,GUARANI/CE,0,FORTALEZA/CE,4,True
11002,786,13,2018-02-11,INTER DE MILÃO/ITA,2,BOLOGNA/ITA,1,True
11011,787,8,2018-02-18,FERROVIÁRIO/CE,1,GUARANI/CE,0,True
11013,787,10,2018-02-18,SPORT/PE,2,AMÉRICA/PE,0,True
11014,787,11,2018-02-18,MONCHENGLADBACH/DEU,0,DORTMUND/DEU,1,True

In [ ]:
for k, v in results6.items():
    display(loteca.loc[k])
    display(betexp[betexp.id == v])

In [ ]:
from IPython.display import display

id1 = 5188
id2 = ['ADnFZrWr', 'QDf0HHdP']
display(loteca.loc[id1])
display(betexp[betexp.id.isin(id2)])

# Algorithm

# Some failed BetExplorer names

Not all BetExplorer team names are right. Here are some of them that were captured in this algorithm.

In [ ]:
# http://www.betexplorer.com/soccer/brazil/serie-b-2009/america-rn-betim/zuc6o4ea/
# it's Ipatinga, not Betim
betexp.loc[22800]

In [ ]:
# http://www.betexplorer.com/soccer/brazil/campeonato-paulista-2010/santo-andre-barueri/d4IyAGi2/
# It's Grêmio Prudente, not Barueri
betexp.loc[18934]

In [ ]:
# http://www.betexplorer.com/soccer/brazil/serie-b-2011/barueri-portuguesa/4rHNNkEH/
# This one is right, but it contradicts with the example above
betexp.loc[32436]